.c-merit {
    background-image: url(../../_public/assets/img/merit/1x/meritBG.png);
    background-repeat: repeat;
    background-position: center;
    margin-top: 76px;
    @include sp {
        margin-top: 48px;
    }
}

.c-merit__title {
    text-align: center;
    font-size: 3.6rem;
    color: #000;
    margin-bottom: 52px;
    font-weight: 400;
    @include tab {
        font-size: 3rem;
    }
    @include sp {
        font-size: 1.5rem;
        margin-bottom: 26px;
    }
}

.c-merit__header {
    @include sp {
        max-width: 375px;
        margin: 0 auto;
    }

    .c-merit__case {
        justify-content: center;
        @include sp {
            flex-direction: column;
            padding: 0 16px 0 31px;
        }
    }

    .c-box .c-box__item {
        width: calc(33.33% - 60px);
        @include sp {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .c-box__item:not(:last-of-type) {
        margin-right: 57px;
        @include sp {
            margin-bottom: 41px;
        }
    }

    .c-merit__caseNum {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: #ededed;
        font-size: 21.4rem;
        line-height: 0.7;
        margin-top: 6px;
        padding-left: 41px;
        position: relative;
        @include lg {
            font-size: 18.4rem;
        }
        @include tab {
            font-size: 15.4rem;
            padding-left: 21px;
        }
        @include sp {
            font-size: 14.8rem;
            padding-left: 15px;
        }

        &::after {
            content: "case";
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            position: absolute;
            color: #c7c7c7;
            font-size: 2.4rem;
            top: 69.6%;
            left: 27.7%;
            letter-spacing: 5px;
            @include sp {
                font-size: 1.7rem;
                top: 68.6%;
                left: 23%;
                letter-spacing: 4px;
            }
        }
    }
}

.c-merit__body {
    max-width: 1300px;
    padding: 0 25px;

    margin-top: 122px;
    text-align: center;
    @include sp {
        margin-top: 85px;
        padding: 0 33px;
        max-width: 375px;
    }

    .c-merit__bodyTitle {
        font-size: 3.4rem;
        font-weight: 400;

        span {
            color: #252a6d;
            font-size: 4.6rem;

            font-family: $notoSerif;
            @include lg {
                font-size: 3.8rem;
            }
            @include tab {
                font-size: 3.2rem;
            }
            @include sp {
                font-size: 1.7rem;
            }
        }
        @include lg {
            font-size: 2.8rem;
        }
        @include tab {
            font-size: 2.4rem;
        }
        @include sp {
            font-size: 1.3rem;
            line-height: 1.33;
        }
    }

    .c-merit__bodyCap {
        margin-top: 17px;

        margin-bottom: 65px;
        @include tab {
            font-size: 4rem;
        }
        @include sp {
            font-size: 1.1rem;
            letter-spacing: 1.35px;
            margin-top: 8px;
            margin-bottom: 34px;
        }
    }

    .c-box {
        transform: translate(10px, 11px);
        margin-bottom: 96px;
        @include tab {
            margin-bottom: 64px;
        }
        @include sp {
            margin-bottom: 59px;
            flex-direction: column;
            transform: translate(10px, 10px);
        }

        .c-box__text {
            margin-top: -29px;
            text-align: left;
            width: 50.1%;
            @include sp {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .c-box__logo {
            @include tab {
                width: 60px;
            }
            @include sp {
                width: 45px;
                text-align: left;
            }
        }

        .c-box__title,
        .c-box__desc {
            padding-left: 4.3vw;
            padding-right: 1.5vw;
        }

        .c-box__title {
            font-size: 2.8rem;
            display: inline-block;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 23px;
            position: relative;

            &::after {
                content: url(/assets/img/merit/1x/heading-effect.svg);
                position: absolute;
                right: -0.5%;
                top: -38%;
                width: 42px;
                @include lg {
                    width: 30px;
                    right: 2%;
                }
                @include sp {
                    width: 23px;
                    right: -7.3%;
                    top: -39%;
                }
            }
            @include tab {
                font-size: 2rem;
            }
            @include sp {
                font-size: 1.4rem;
                padding-left: 40px;
                padding-right: 0;
                margin-top: 3px;
                margin-bottom: 10px;
                text-align: center;

            }

            span {
                font-size: 3.6rem;
                color: #252a6d;
                @include tab {
                    font-size: 2.8rem;
                }
                @include sp {
                    font-size: 1.8rem;
                }
            }
        }

        .c-box__desc {
            font-size: 2.1rem;
            letter-spacing: 0.6px;
            line-height: 1.6;
            @include tab {
                font-size: 1.4rem;
            }
            @include sp {
                font-size: 1rem;
                padding-right: 10px;
                padding-left: 40px;
                line-height: 1.7;
                letter-spacing: 0.9px;
            }
        }

        .c-box__img {
            
            width: 49%;
            @include sp {
              
                width: 100%;
                max-width: 291px;
            }
        }

        @include sp {
            &:not(:first-of-type) {
                .c-box__text {
                    transform: translateX(-5px);
                }
            }
        }
    }
}

.c-box__rowRev {
    flex-direction: row-reverse !important;
    @include sp {
        flex-direction: column !important;
    }

    .c-box__img {
        text-align: left;
        width: 48.9% !important;
        margin-right: 20px;
        @include sp {
            width: 100% !important;
            margin-right: unset;
            text-align: center;
        }
    }

    .c-box__text {
        .c-box__title,
        .c-box__desc {
            padding-right: 1.2vw;
            @include sp {
                padding-right: 9px;
            }
        }
    }
}
@include sp {
    .c-merit__alignR {
        align-items: end;

        .c-merit__caseNum {
            font-size: 14.8rem;
            padding-right: 7px;

            &::after {
                top: 67.3% !important;
                left: 39% !important;
            }
        }

        .c-speech__cap {
            right: unset;
            left: -1.6%;
        }

        .c-speech__bubble::after {
            transform: rotate3d(1, 1, 1, 52deg);
            left: 70.1%;
        }
    }
}
