.c-panel {
    margin-top: 119px;
    max-width: 1300px;
    margin: 119px auto;
    padding: 0 54px;
   
    @include sp {
        padding: 0 28px;
        margin-top: 130px;
        margin-bottom: 0;
    }

    .c-panel__cap,
    .c-panel__title {
        display: none;
    }
}

.c-panel--bot {
    margin-bottom: 20px;
    padding: 0 52px;

    img {
        transform: translate(2px);
    }
    @include sp {
        transform: translate(0, -1px);
        padding: 0 28px;
        margin-top: 60px;
    }
 
}
