.c-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 117px auto 0;
    @include sp {
        max-width: 450px;
        margin-top: 44px;
    }

    .c-plan__title {
        margin-bottom: 76px;
        position: relative;
        display: inline-block;
        padding-bottom: 25px;

        @include sp {
            font-size: 2.4rem;
            letter-spacing: 2.25px;
            margin-bottom: 11px;
        }

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 57px;
            bottom: 0;
            left: 48.5%;
            background-color: #231815;
            @include lg {
                left: 47.5%;
            }
            @include sp {
                left: 46.2%;
                width: 29px;
                bottom: 20%;
            }
        }
    }

    .c-plan__item {
        text-align: center;

        &:nth-of-type(2) {
            .u-rounded {
                transform: translate(220%, -13px);
                @include lg {
                }
                @include sp {
                    transform: translate(101%, 4px);
                }
            }
        }
    }

    .u-rounded {
        transform: translate(32px, -13px);
        @include sp {
            transform: translate(12px, 0);
        }
    }

    .c-plan__img {
        padding: 0 20px;
        margin-bottom: 38px;
        display: flex;
        justify-content: center;

        @include sp {
            padding: 0 5px;
            transform: translate(0, -1px);
        }

        img {
            width: 631px;
            height: auto;
            @include sp {
                width: 100%;
            }
        }
    }

    .c-plan__param {
        font-size: 2.2rem;
        font-weight: 300;
        color: #231815;
        letter-spacing: -0.9px;
        @include lg {
            font-size: 1.8rem;
        }
        @include tab {
            font-size: 1.6rem;
        }
        @include sp {
            font-size: 1.1rem;
            transform: translate(0, -17px);
            letter-spacing: 0.5px;
            line-height: 1.98;
            padding-left: 10px;
        }
    }

    .c-plan__table {
        color: #231815;

        width: 100%;
        max-width: 1204px;
        margin: 95px auto 0;
        text-align: left;
        font-weight: 300;
        padding: 0 5px;

        @include lg {
            padding: 0 15px;
        }
        @include sp {
            margin: -4px auto 0;
            max-width: 500px;
        }

        .c-plan__row > span,
        .c-plan__row > .c-plan__tdMain > div.c-plan__td {
            padding: 34px 0 8.3px 12px;
            display: inline-block;
            @include lg {
                padding: 26px 0 6px 9px;
            }
            @include sp {
                padding: 15px 0 6px 5px;
            }
        }

        .c-plan__tdMain > div.c-plan__td {
            @include sp {
                padding: 0 !important;
            }
        }

        .c-plan__row > .c-plan__tdMain > div.c-plan__td:first-of-type {
            margin-left: 5px;
            @include tab {
                margin-left: 0;
            }
            @include sp {
                margin-left: 0;
            }
        }

        .c-plan__tdMain {
            display: flex;
            flex-wrap: wrap;

            @include tab {
                padding-bottom: 10px;
                width: 82%;
            }
            @include sp {
                padding-top: 12px;
                padding-bottom: 8px;
                align-items: center;
                width: 63%;
            }
        }

        a {
            padding: 10px 13px 6.8px 11px;
            border-radius: 4px;
            border: 1px solid #cbcbcb;
            height: fit-content;
            width: fit-content;
            margin-right: 6px;
            @include lg {
                padding: 8px 9px 5px 8px;
            }
            @include sp {
                border-radius: 2px;
                padding: 0 3px 0 4px;
                display: inline-block;
                height: 17px;
            }
        }

        span {
            font-size: 2rem;
            white-space: nowrap;
            @include lg {
                font-size: 1.6rem;
            }
            @include tab {
                font-size: 1.4rem;
            }
            @include sp {
                font-size: 0.8rem;
            }
        }

        .c-table--fs25 {
            font-size: 2.5rem;
            margin-left: 17px;
            transform: translateY(-1px);
            @include lg {
                font-size: 2rem;
            }
            @include tab {
                font-size: 1.8rem;
            }
            @include sp {
                font-size: 1.2rem;
                margin-left: 0;
                transform: translateY(1px);
            }
        }

        .c-plan__row {
            display: flex;
            border-bottom: 1px solid #cbcbcb;
            padding-right: 10px;
        }

        .c-plan__row3 {
            .c-plan__th {
                @include sp {
                    transform: translateY(6px);
                }
            }
        }

        .c-plan__row4 {
            .c-plan__th {
                @include sp {
                    transform: translateY(-5px);
                }
            }
        }

        .c-plan__th {
            width: 22%;

            font-weight: 300;
            font-size: 2.5rem;
            padding-left: 12px;
            @include lg {
                width: 18%;
                font-size: 2rem;
            }
            @include tab {
                font-size: 1.8rem;
            }
            @include sp {
                font-size: 1.2rem;
            }
            @include sp {
                width: 37%;
            }
        }

        .c-table--spbdr {
            letter-spacing: 0.7px;
        }

        a > span {
            display: inline-block;
            transform: translate(6px, -2px);
            @include lg {
                transform: translate(0);
            }
            @include sp {
                transform: translate(1px, -6px);
            }
        }
    }
}
