.c-finance {
    margin-top: 96.5px;
    background-color: #ededed;
    padding: 93px 40px  64px;

    .c-finance__header {
        display: flex;
        flex-direction: column;
 
        align-items: center;
    }

    .c-finance__title {
 
        position: relative;
        display: inline-block;
        padding-bottom: 25px;

        &::after {
            content: "";
            position: absolute;
            height: 1%;
            width: 57px;
            bottom: 0;
            left: 25%;
            background-color: #231815;
        }
    }

    .c-finance__cap {
        padding: 4px 56.1px 17px;
        margin-top: 60px;
        font-family: $notoSans;
        font-weight: 400;
        font-size: 3rem;
        color: #fff;
        letter-spacing: 1px;
        background-color: #231815;
        transform: translateX(17px);
    }

    .c-finance__main {
  
        max-width: 1280px;
        margin: 45px auto;
        display: flex;
        padding: 0 2px 0 3px;
    }

    .c-finance__panel {
        width: 47.5%;
        
        background-color: #fff;
    }

    .c-finance__panel--l {
        margin-right: 5%;
        padding: 9% 6% 6.1% 6.7%;

        .c-finance__desc {      
            font-family: $notoSans;
            font-size: 2.2rem;
            color: #231815;
            letter-spacing: -0.2px;
            transform: translateY(-8px);

            &:not(:last-of-type) {
                margin-bottom: 36px;
            }

        }
    }

    .c-finance__panel--r {
        position: relative;
        padding: 8.1% 6% 6.1% 6.8%;
        font-family: $notoSans;

        .c-finance__icon {
            position: absolute;
            top: -4.1%;
            right: -7%;
            width: 33.9%;
        }

        .c-finance__pnCap {
            font-size: 2.6rem;
            font-weight: bold;
            color: #231815;
            padding-left: 7px;
        }

        .c-finance__price {
            font-weight: bold;
            color: #7a89a8;
            font-size: 90px;

            span {
                font-size: 36px;
            }
        }

        .c-finance__cate {
            margin-top: 15px;
            font-weight: 400;
            color: #231815;
            font-size: 2.2rem;
            letter-spacing: -0.5px;
        }
    }
}

