.c-access {
    margin-top: 109px;
    margin-bottom: -30px;
    height: 700px;
    color: #000;
    @include tab {
        height: 600px;
    }
    @include sp {
        height: unset;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .c-access__map {
        @include sp {
            height: 290px;
            width: 100%;
        }
    }

    .c-access__content {
        background-color: #ededed;
        @include sp {
            height: 290px;
            width: 100%;
            background-color: #ededed;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .c-access__content {
        position: relative;
        padding: 0 50px;
    }

    .c-access__main {
        position: absolute;
        top: 49.1%;
        left: 47%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;

        @include lg {
            left: 55%;
        }
        @include sp {
            top: 47.5%;
            left: 52.5%;
        }
    }

    .c-access__title {
        position: relative;
        padding-bottom: 17px;
        margin-bottom: 25px;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 74px;
            bottom: 0;
            left: 25%;
            background-color: #000;
            @include sp {
                width: 37px;
                bottom: 15%;
                left: 25%;
            }
        }
        @include tab {
            font-size: 3.6rem;
        }
        @include sp {
            font-size: 2.4rem;
            margin-bottom: 5px;
            letter-spacing: 2.25px;
        }
    }

    .c-access__cap {
     
        font-weight: 300;
        font-size: 2.8rem;
        
        @include tab {
            font-size: 2.2rem;
        }
        @include sp {
            font-size: 1.4rem;
        }
    }

    .c-access__body {
        margin-top: 87px;
        width: 100%;
        @include sp {
            margin-top: 43px;
        }
    }

    .c-access__item {
        display: flex;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 2.5rem;
        transform: translateX(-24px);
        @include tab {
            font-size: 1.8rem;
        }
        @include sp {
            font-size: 1.2rem;
            margin-bottom: 7px;
            transform: translateX(0);
        }

        .c-access__desc {
            min-width: 280px;
            @include tab {
                min-width: 220px;
            }
            @include sp {
                min-width: 200px;
            }
        }

        &:not(:first-of-type) {
            .c-access__desc {
                transform: translateY(3px);
                @include sp {
                    transform: translateY(1px);
                }
            }
        }

        &:nth-of-type(3) {
            .c-access__desc {
                position: relative;

                &::after {
                    position: absolute;
                    bottom: -31px;
                    left: 7px;
                    white-space: nowrap;

                    content: "※車でお越しの際は、ナビで上記住所を設定してください 。";
                    font-size: 1.5rem;

                    @include lg {
                        white-space: normal;
                        bottom: -41px;
                    }
                    @include sp {
                        font-size: 0.8rem;
                        bottom: -16px;
                        left: -7px;
                        white-space: nowrap;
                    }
                }
            }
        }

        .c-access__tag {
            color: #fff;
            transform: translate(1px, -1px);
            padding: 5px 0;
            text-align: center;
            min-width: 120px;
            height: 47.5px;
            background-color: #565f64;
            margin-right: 23px;
            @include tab {
                min-width: 100px;
                height: 40px;
            }
            @include sp {
                min-width: 60px;
                width: 60px;
                height: 23px;
                margin-right: 12px;
                line-height: 1;
            }
        }
    }
}
