/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin-top: 84px;
    text-align: center;
    transform: translateX(-1px);
    margin-bottom: 84px;
    @include sp {
        transform: translateX(0);
        margin-top: 32px;
        margin-bottom: 30px;

        img {
            width: 104px;
        }
    }
}
