/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin-top: 84px;
    text-align: center;
    transform: translateX(-1px);
    margin-bottom: 50px;
}
