/* layout
------------------------------------------------------------*/
body {
   
    font-size: 1.4rem;
    box-sizing: border-box;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------




//-------------------------------------------------------
.l-container {
    max-width: 1200px;
    margin: 0 auto;
}

.l-container--w1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.l-container--w1740 {
    max-width: 1740px;
    margin: 0 auto;
}

.l-container--w1920 {
    max-width: 1920px;
    margin: 0 auto;
}
//-------------------------------------------------------
.l-sp--only {
    display: none !important;
    @include sp {
        display: block !important;
    }
}

.l-pc--only {
    display: block;
    @include sp {
        display: none !important;
    }
}
