/* layout
------------------------------------------------------------*/
body {
   
    font-size: 1.4rem;
    box-sizing: border-box;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------




//-------------------------------------------------------
.l-container {
    max-width: 1204px;
    margin: 0 auto;
}

.l-container--1600 {
    max-width: 1600px;
    margin: 0 auto;
}
//-------------------------------------------------------
