<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="l-container--1920">
    <section class="c-mainvisual">
      <div class="c-mainvisual__inner">
        <img class="c-mainvisual__img" src="/assets/img/mainvisual/banner.jpg" alt="COCO MGM DESIGN">
        <div class="c-mainvisual__text">
          <a href="#"> <img class="c-mainvisual__logo" src="/assets/img/mainvisual/logo.png" alt="COCO MGM DESIGN"></a>

          <h1 class="c-mainvisual__desc">「こんな家に住みたい」をカタチにした家</h1>
          <img class="c-mainvisual__cap" src="/assets/img/mainvisual/caption.png" alt="COCO MGM DESIGN">
        </div>
      </div>
    </section>
    <section class="c-merit l-container--1600">
      <h2 class="c-merit__title">家づくりの、こんな不安やお悩みないですか？</h2>

      <div class="c-merit__header">
        <div class="c-merit__case c-box c-box--3col">
          <% if(typeof merit !='undefined' ) { %>
            <% merit.headerContent.forEach(item=>{%>
              <div class="c-box__item  <%  if(item.alignRight === true){ %> c-merit__alignR<%}%>">

                <h2 class="c-merit__caseNum">
                  <%= item.caseNum %>
                </h2>
                <div class="c-speech__bubble">
                  <p class="c-speech__mess">
                    <%= item.caseMess %>
                  </p>
                  <% if(typeof item.caseCaption !='undefined' ) {%>
                    <span class="c-speech__cap">
                      <%=item.caseCaption%>
                    </span>
                    <% }%>
                </div>
              </div>
              <% }) %>
                <% } %>

        </div>
      </div>
      <div class="c-merit__body l-container ">
        <h2 class="c-merit__bodyTitle pc--only">はじめての家づくりが具体的に進む、ご来店の<span>3つのメリット</span></h2>
        <h2 class="c-merit__bodyTitle sp--only">はじめての家づくりが具体的に進む、<br>ご来店の<span>3つのメリット</span></h2>
        <h3 class="c-merit__bodyCap c-title">WELCOME TO MODELHOUSE</h3>
        <% if(typeof merit !="undefined" && typeof merit.bodyContent !="undefined" ){ %>
          <% merit.bodyContent.forEach(item=>{%>
            <div class="c-box c-box--2col <%  if(item.rowRev === true){ %> c-box__rowRev<%}%>">
              <div class="c-box__item c-box__text">

                <img class="c-box__logo" src="<%= item.logoImg %>" alt="<%= item.imgAlt %>">
                <br>
                <h3 class="c-box__title"><%- item.title %></h3>
                <p class="c-box__desc"><%- item.desc %></p>


              </div>
              <div class="c-box__item c-box__img">
                <img src="<%= item.meritIMG %>" alt="<%= item.imgAlt %>">
              </div>
            </div>
            <%})%>

              <% }%>




      </div>
    </section>
    <section class="c-rePoint l-container--1740">
      <div class="c-rePoint__header">
        <div class="c-rePoint__headerImg">
          <img src="/assets/img/RePoint/1x/headerLogo.png" alt="RECOMMENDED POINT">

        </div>
        <div class="c-rePoint__headerText">
          <p class="c-rePoint__headerCap">RECOMMENDED POINT</p>
          <h2 class="c-rePoint__headerTitle">イベント・見学会の<span>見どころ！</span></h2>
        </div>
      </div>
      <div class="c-rePoint__body">
        <div class="c-box c-box--4col">
          <% if(typeof rePoint !='undefined' ){%>
            <% rePoint.bodyContent.forEach(item=>{%>
              <a href="#" class="c-box__item">
                <div class="c-box__main">
                <img class="c-box__img" src="<%= item.imgUrl %>" alt="<%= item.boxTitle %>">
                <h3 class="c-box__title">
                  <%= item.boxTitle %>
                </h3>
                <p class="c-box__desc"><%- item.boxDesc %>

                </p>
                </div>
              </a>
              <% })%>
                <% }%>


        </div>
      </div>

    </section>
    <section class="c-panel c-panel--top">
      <h2 class="c-panel__cap">2日前までにWEBまたはお電話で「webcoco完全ご予約制見学会」に来場予約された方</h2>
      <h3 class="c-panel__title">
        絶対オトク！1,000円分のQUOカードプレゼント
      </h3>
      <a href="#">
        <picture>
          <source media="(max-width:767px)" srcset="/assets/img/RePoint/1x/panel-topSP.png">

          <img src="/assets/img/RePoint/1x/panel-top.png" alt="絶対オトク！1,000円分のQUOカードプレゼント">
        </picture>

      </a>

    </section>
    <section class="c-design">
      <div class="c-slider">
        <div class="c-slideshow-container">


          <div class="c-mySlides fade">
            <picture>
              <source media="(max-width:767px)" srcset="/assets/img/Slider/1x/slider1SP.png">
              <img src="/assets/img/Slider/1x/slider1.png" alt="slider">
            </picture>
          </div>

          <div class="c-mySlides fade">

            <picture>
              <source media="(max-width:767px)" srcset="/assets/img/Slider/1x/slider2SP.png">
              <img src="/assets/img/Slider/1x/slider2.png" alt="slider">
            </picture>

          </div>

         

<div class="c-slider--btn">
    <a class="c-prev" onclick="plusSlides(-1)"><img src="/assets/img/Slider/1x/btnPre.png" alt="pre"></a>
    <a class="c-next" onclick="plusSlides(1)"><img src="/assets/img/Slider/1x/btnNext.png" alt="next"></a>
</div>
        
        </div>

      </div>
      <div class="c-design__body">
        <div class="c-design__box"></div>
        <div class="c-design__main">
          <div class="c-design__text">
            <h2 class="c-design__title c-title">DESIGN</h2>
            <span class="u-bar"></span>
            <h3 class="c-design__cap">シンプルで美しいデザイン、<br>
              いつまでも・誰にでも愛される空間に。
            </h3>
            <p class="c-design__desc">長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
              壁の色を白で統一したシンプルな間取り。<br>
              余計な装飾は施さず、こだわりの家具やインテリアを<br>
              あなた色に合わせてコーディネートを楽しめる<br>
              年齢や性別を意識しない誰にでも愛される空間です。</p>
          </div>
          <div class="c-design__iframe">
            <iframe src="https://www.youtube.com/embed/GtH-3_jjTvQ" title="YouTube video player" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="c-plan">

      <h2 class="c-plan__title c-title">PLAN</h2>



      <div class="c-plan__body">
        <div class="c-plan__img">
          <div class="c-plan__item">
            <img src="/assets/img/plan/1F.jpg" alt="Plan1F">
            <p class="u-rounded"><span>1F</span></p>
          </div>
          <div class="c-plan__item">
            <img src="/assets/img/plan/2F.jpg" alt="Plan2F">
            <p class="u-rounded"><span>2F</span></p>
          </div>

        </div>

      </div>
      <p class="c-plan__param pc--only">1階床面積 　192.53㎡（58.24坪）　　2階床面積　139.01㎡（42.05坪）　　延床面積　331.54㎡（100.29坪）</p>
      <p class="c-plan__param sp--only">1階床面積 　192.53㎡（58.24坪）<br>2階床面積　139.01㎡（42.05坪）<br>延床面積　331.54㎡（100.29坪）</p>
      <div class="c-plan__table">

        <div class="c-plan__row c-plan__row--1">
          <span class="c-plan__th">商品プラン</span>
          <span class="c-plan__td c-table--fs25">ZERO-CUBE</span>
        </div>
        <div class="c-plan__row c-plan__row--2">
          <span class="c-plan__th">構造</span>
          <span class="c-plan__td c-table--fs25">木造2階建て</span>
        </div>
        <div class="c-plan__row c-plan__row--3">
          <span class="c-plan__th">設備・仕様</span>
          <div class="c-plan__tdMain">
            <div class="c-plan__td">
              <a href="#"> <span class=" c-table--spbdr">W断熱/TOPS工法</span></a>
            </div>
            <div class="c-plan__td">
              <a href="#"> <span class=" c-table--spbdr">無垢材・自然素材</span></a>
            </div>
            <div class="c-plan__td">
              <a href="#"> <span class=" c-table--spbdr">高性能住宅</span></a>
            </div>

            <div class="c-plan__td"> <a href="#"> <span class=" c-table--spbdr">玄関共有タイプ</span></a></div>
            <div class="c-plan__td"> <a href="#"> <span class=" c-table--spbdr">防音構造床</span></a></div>
          </div>
        </div>
        <div class="c-plan__row c-plan__row--4">
          <span class="c-plan__th">空間</span>
          <div class="c-plan__tdMain">
            <div class="c-plan__td"> <a href="#"> <span class=" c-table--spbdr">二世帯・多世帯</span></a></div>
            <div class="c-plan__td"> <a href="#"> <span class=" c-table--spbdr">1、2階リビング</span></a></div>
            <div class="c-plan__td"> <a href="#"> <span class=" c-table--spbdr">吹抜け</span></a></div>
          </div>
        </div>



      </div>


    </section>
    <section class="c-finance">
      <div class="c-finance__header">
        <h2 class="c-finance__title c-title">FINANCE</h2>
        <h3 class="c-finance__cap">3,400万円借入の場合</h3>
      </div>

      <div class="c-finance__main">
        <div class="c-finance__panel c-finance__panel--l">
          <div class="c-finance__content">
            <p class="c-finance__desc">借入金　・・・・・・・・・・3,400万円</p>
            <p class="c-finance__desc">ボーナス払い・・・・・・・・・・0万円</p>
            <p class="c-finance__desc">3年固定金利・・・・・・・・・・0.725％</p>
            <p class="c-finance__desc">返済期間・・・・・・・・・・・・・35年</p>
          </div>
        </div>
        <div class="c-finance__panel c-finance__panel--r">
          <div class="c-finance__content">
            <p class="c-finance__pnCap">月々のお支払い</p>
            <h3 class="c-finance__price">91,682<span> 円</span></h3>
            <h4 class="c-finance__cate">土地付建物販売価格　3,400 万円（税込)</h4>
          </div>
          <img class="c-finance__icon" src="/assets/img/Finance/icon-finance.svg" alt="kinkaku">
        </div>
      </div>

    </section>
    <section class="c-web">
      <div class="c-web__header">
        <h2 class="c-web__title">WEB来場予約が<span>オススメ！</span></h2>
        <h3 class="c-web__desc">待ち時間ナシ！混雑をきにせず来場OK！<br>
          経験豊富なスタッフがしっかりとご対応いたします。</h3>
      </div>
      <div class="c-web__body l-container--1740">
        <% if(typeof web !="undefined" ){ %>
          <% web.body.forEach(item=>{%>
            <a href="#" class="c-web__item <%= item.bgColor %> c-box__item<%= item.itemName %>">
              <img class="c-web__Bicon" src="<%= item.icon %>" alt="<%= item.cap %>">
              <h3 class="c-web__Bcap">
                <%= item.cap %>
              </h3>
              <p class="c-web__bar"></p>
              <h4 class="c-web__Bdesc">
                <%= item.desc %>
              </h4>
            </a>
            <% })%>
              <% }%>



      </div>

      <div class="c-web__footer l-container">
        <div class="c-web__banner">
          <a class="c-web__btn" href="#">ご来場のお客様へ</a>
          <h3 class="c-web__bannerTitle pc--only">新型コロナウイルス感染症予防対策につきまして</h3>
          <h3 class="c-web__bannerTitle sp--only">新型コロナウイルス<br>感染症予防対策につきまして</h3>
          <h4 class="c-web__bannerDesc pc-only">ウェブココでは新型コロナウイルス感染拡大防止のため、対策を講じておりますので安心してご利用ください。</h4>
          <h4 class="c-web__bannerDesc sp--only">ウェブココでは新型コロナウイルス<br>感染拡大防止のため、対策を講じて<br>おりますので安心してご利用ください。</h4>
        </div>
        <div class="c-web__collect pc--only">
          <% if(typeof web !='undefined' && typeof web.footer !='undefined' ){ %>
            <% web.footer.forEach(footerItem=>{ %>
              <div class="c-box c-box--5col <%= footerItem.name %>">
                <% footerItem.main.forEach(item=>{%>
                  <a href="#" class="c-box__item c-box__<%- item.name %>">
                    <img class="c-box__img" src="<%= item.iconIMG %>" alt="<%= item.alt %>">
                    <h3 class="c-box__desc"><%- item.desc %></h3>
                  </a>
                  <% })%>


              </div>
              <% })%>
                <% }%>

        </div>
        <div class=" sp--only">
          <div class="c-web__collect">
            <% if(typeof web !='undefined' && typeof web.footer !='undefined' ){ %>
              <% web.footerSP.forEach(footerItem=>{ %>
                <div class="c-box c-box--5col <%= footerItem.name %>">
                  <% footerItem.main.forEach(item=>{%>
                    <a href="#" class="c-box__item c-box__<%- item.name %>">
                      <img class="c-box__img" src="<%= item.iconIMG %>" alt="<%= item.alt %>">
                      <h3 class="c-box__desc"><%- item.desc %></h3>
                    </a>
                    <% })%>


                </div>
                <% })%>
                  <% }%>

          </div>
        </div>

      </div>

    </section>
    <section class="c-access c-box c-box--2col">
      <div class="c-access__map c-box__item">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1443.784265239976!2d139.7749091942118!3d35.67242026142928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018895f7235976d%3A0x502e204dfef6e7fd!2z5pel5ZKM44Ob44OG44Or5p2x5Lqs6YqA5bqnRUFTVA!5e0!3m2!1sja!2s!4v1660026983187!5m2!1sja!2s"></iframe>
      </div>
      <div class="c-access__content c-box__item">
        <div class="c-access__main">
          <h2 class="c-access__title c-title">ACCESS</h2>
          <h3 class="c-access__cap">完全ご予約制見学会</h3>
          <div class="c-access__body">
            <div class="c-access__item">
              <a class="c-access__tag" href="#">開催日</a>
              <p class="c-access__desc">8&nbsp;月&nbsp;20&nbsp;日（土）・21&nbsp;日（日）</p>
            </div>
            <div class="c-access__item">
              <a class="c-access__tag" href="#">時間</a>
              <p class="c-access__desc">10：00～17：00 ※完全予約制</p>
            </div>
            <div class="c-access__item">
              <a class="c-access__tag" href="#">開催場所</a>
              <p class="c-access__desc">〒000-0000 愛媛県今治市000-0</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-panel c-panel--bot">
      <h2 class="c-panel__cap">2日前までにWEBまたはお電話で「webcoco完全ご予約制見学会」に来場予約された方</h2>
      <h3 class="c-panel__title">
        絶対オトク！1,000円分のQUOカードプレゼント
      </h3>
      <a href="#">
        <picture>
          <source media="(max-width:767px)" srcset="/assets/img/RePoint/1x/panelSP.png">

          <img src="/assets/img/RePoint/1x/panel.png" alt="絶対オトク！1,000円分のQUOカードプレゼント">
        </picture>

      </a>

    </section>
<section class="c-contact">
  <a href="#" class="c-contact__main"><h2 class="c-contact__title c-title">CONTACT FORM</h2></a>
 
</section>

  </main>
  <!-- @@content -->

  <!-- @script -->
  <script>

  </script>
  <!-- @@script -->